body {
    /* Color Pallet */
    --blue: rgb(86, 146, 230);
    --red: rgb(230, 86, 86);
    --white: rgb(255, 255, 255);
    --turquoise: rgb(128, 208, 199);
    --grey: rgb(108, 117, 125);
    --light-grey: rgb(231, 236, 240);
    --dark: rgb(52, 58, 64);
    --freecodecamp-green: rgb(0, 100, 0);
    --freecodecamp-white: rgb(238, 238, 238);
    /* ========== */

    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h1, h3 {
    font-family: 'Megrim', cursive;
}

.index-1 {
    z-index: 1;
}

.index-2 {
    z-index: 2;
}

.pb-80 {
    padding-bottom: 80px;
}

.no-overflow {
    overflow: hidden;
}

.btn-outline-primary {
    color: var(--turquoise);
    border: 1px solid var(--turquoise);
    transition-duration: .2s;
}

.btn-icon-danger, .btn-icon-primary {
    border: 0px;
    color: var(--turquoise);
    cursor: pointer;
    transition-duration: .2s;
}

.btn-icon-danger:hover {
    color: var(--red);
}

.btn-icon-primary:hover {
    color: var(--blue);
}

.btn-icon-danger:focus {
    outline: none;
}

.badge-primary {
    color: var(--white);
    background-color: var(--blue);
}

button.nav-link {
    border: 0px;
}

.link-primary {
    color: var(--turquoise);
}

.link-primary:hover {
    color: var(--blue);
}
    
.btn-outline-primary:hover {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
}

.landing-size {
    height: 90vh;
    min-height: 515px;
}

.landing-hero {
    background-color: var(--blue);
    background-image: linear-gradient(160deg, var(--blue) 0%, var(--turquoise) 100%);

}

.hero-area {
   display: flex;
   flex-direction: column;
   align-items: start;
}

.landing-profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition-duration: .3s;
}

.slide-down {
    transform: translateY(100px);
    opacity: 0;
}

.hero-text {
    color: var(--white);
}

.hero-text > .lead {
    font-size: 1rem;
}

.hero-text > h2 {
    color: var(--light-grey);
    font-size: 1rem;
}

.hero-section {
    height: calc(90vh - 4.375rem);
    min-height: 445px;
}

.see-more {
    font-size: 30px;
    padding: 20px;
    color: var(--blue);
}

.category-list-default {
    border: 1px solid var(--grey);
}

.website-card-default, .website-card-freecodecamp, .website-card-personal, .website-card-professional {
    margin: 10px 0;
    transition-duration: .3s;
    border: 1px solid var(--grey);
}

.website-card-freecodecamp:hover, .category-list-freecodecamp {
    border: 1px solid var(--freecodecamp-green);
    background-color: var(--freecodecamp-green);
    color: var(--freecodecamp-white);
}

.category-list-btn-freecodecamp {
    color: var(--freecodecamp-white);
    opacity: .8;
}

.category-list-btn-freecodecamp:hover {
    color: var(--freecodecamp-white);
    opacity: 1;
}

.website-card-personal:hover, .category-list-personal {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
}

.category-list-btn-personal {
    color: var(--white);
    opacity: .8;
}

.category-list-btn-personal:hover {
    color: var(--white);
    opacity: 1;
}

.website-card-professional:hover, .category-list-professional {
    border: 1px solid var(--turquoise);
    background-color: var(--turquoise);
    /* color: var(--white); */
}

.category-list-btn-professional, .category-list-btn-progress {
    color: var(--dark);
    opacity: .8;
}

.category-list-btn-professional:hover, .category-list-btn-progress:hover {
    color: var(--dark);
    opacity: 1;
}

.website-card-progress:hover, .category-list-progress {
    border: 1px solid var(--light-grey);
    background-color: var(--light-grey);
    /* color: var(--white); */
}

.website-card-freecodecamp:hover .card-link {
    color: var(--freecodecamp-white);
    opacity: .5;
}

.website-card-personal:hover .card-link {
    color: var(--white);
    opacity: .5;
}

.website-card-professional:hover .card-link {
    color: var(--dark);
    opacity: .8;
}

.website-card-freecodecamp:hover .card-link:hover {
    opacity: .8;
}

.website-card-personal:hover .card-link:hover {
    opacity: .8;
}

.website-card-professional:hover .card-link:hover {
    color: var(--white);
    opacity: 1;
}

.card-title, .card-subtitle {
    font-weight: 600;
}

.card-link {
    color: var(--blue);
}

.list {
    padding-bottom: 16px;
}

.list-item {
    transition-duration: .3s;
}

.list-item-link {
    color : var(--dark);
    opacity: .8;
}

.list-item:hover {
    z-index: 2;
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--blue);
}

.list-item:hover .list-item-link {
    color : var(--white);
    opacity: .8;
}

.list-item-link:hover {
    color: var(--white) !important;
    opacity: 1 !important;
}

.contact-methods > a {
    text-decoration: none;
}

.contact-method {
    color: var(--turquoise);
    font-size: 1.75rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--turquoise);
    border-radius: 50%;
    transition-duration: .2s;
}

.contact-method:hover, .contact-method.active {
    transform: scale(1.1);
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .landing-profile-pic {
        height: 200px;
        width: 200px;
        margin-right: 32px;
    }

    .hero-area {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .hero-text {
        color: var(--white);
    }

    .hero-text > h2 {
        font-size: 1.25rem;
    }

    .hero-text > .lead {
        font-size: 1.25rem;
    }

    .contact-method {
        font-size: 2rem;
        width: 4rem;
        height: 4rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}